/*the .navbar css mostly came from The Net Ninja's youtube React tutorial*/
.navbar{
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}

.navbar h1{
  color: #000000;
}

.navbar .links {
  margin-left: auto;
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.App{
  margin: 1rem;
  padding: 2rem 2rem;
  text-align: center;
}

.innerdiv{
  display: inline-block;
  padding:1rem 1rem;
  vertical-align: middle;

}

#scrolldivDark {
  width:200px;
  height:75px;
  overflow:scroll;
  padding:5px;
  font-size:x-small;
  display:inline-block;
  text-align: left;
}

#scrolldivLight {
  width:350px;
  height:300px;
  overflow:scroll;
  padding:5px;
  font-size:small;
  display:inline-block;
  text-align: left;
}

h1{
  font-family: 'Brush Script MT', cursive;
  font-size: 5em;
}

.navbar:hover{
  color: #f1356d;
}

#banner{
  opacity:.75;
}

.sidepic{
  display: block;
}

#submit{
  background:rgb(32, 185, 32);
  color:white;
  border-style:outset;
  height:50px;
  width:100px;
  font:bold25px arial,sans-serif;
  text-shadow:none;
}




